body {
    margin: auto;
    padding-top: 10vh;
}

body * {
    text-align: center;
}
img {
    max-width: 30vw;
    max-height: 40vh;
    margin: 10px;
}
form {
    justify-self: center;
    width: 60%;
}

